<h1>Listing users</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <%= render :partial => "form", :locals => { :user => user , :detelable => true} %>
    <!--
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
     -->
  </tr>

<% end %>
  <tr>
    <%= render :partial => "form", :locals => { :user => @newuser , :detelable => false} %>
  </tr>
</table>

<br />

<%= link_to 'New User', new_user_path %>
